<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link id="favicon" rel="icon" href="/public/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />
    <!-- highlight.js -->
    <link rel="stylesheet" href="/vendor/highlight.js/styles/default.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/public/style.css" />

    <title>Stock price checker – Ty Mick</title>
  </head>

  <body>
    <div class="container-md my-5">
      <h1 class="mb-4">Stock price checker microservice</h1>

      <!-- API test front end -->
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="mb-3">Test this API:</h4>

          <form class="mb-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="apiAndStockQuery"
                  >/api/stock-prices?stock=</span
                >
              </div>
              <input
                type="text"
                name="stock"
                class="form-control stock-input"
                aria-label="stock"
                aria-describedby="apiAndStockQuery stockHelp"
                required
              />
              <div class="input-group-append input-group-prepend">
                <span class="input-group-text" id="stockQuery"
                  >&amp;stock=</span
                >
              </div>
              <input
                type="text"
                name="stock"
                class="form-control stock-input"
                aria-label="stock"
                aria-describedby="stockQuery stockHelp"
              />
              <div class="input-group-append input-group-prepend">
                <span class="input-group-text" id="likeQuery">&amp;like=</span>
              </div>
              <input
                type="text"
                name="like"
                pattern="true"
                class="form-control like-input"
                aria-label="like"
                aria-describedby="likeQuery likeHelp"
              />
            </div>

            <small class="form-text text-muted">
              <ul class="pl-3">
                <li id="stockHelp">
                  <code>stock</code>s must be valid NASDAQ ticker symbols (case
                  doesn't matter), and at least one is required.
                </li>
                <li id="likeHelp">
                  <code>like</code> must be either blank or <code>true</code>.
                  Sending <code>true</code> will add one "like" in the database
                  to the stock(s) included in the query (though only one like
                  can be recorded for each IP).
                </li>
              </ul>
            </small>

            <button type="submit" class="btn btn-primary">GET</button>
          </form>

          <h5>API output:</h5>

          <div class="card">
            <pre id="apiOutput" class="hljs bg-white mb-0">&#8203;</pre>
          </div>
        </div>
      </div>

      <!-- Explanation -->
      <p class="lead font-italic">
        View the source on
        <a href="https://github.com/tywmick/stockchecker">GitHub</a> or
        <a href="https://glitch.com/edit/#!/ty-stockchecker">Glitch</a>.
      </p>

      <p>
        I created this microservice as a requirement for
        <a
          href="https://www.freecodecamp.org/certification/tywmick/information-security-and-quality-assurance"
          >my freeCodeCamp Information Security and Quality Assurance
          Certification</a
        >, using <a href="https://nodejs.org/en/">Node.js</a>,
        <a href="https://expressjs.com/">Express</a>,
        <a href="https://mongodb.github.io/node-mongodb-native/">MongoDB</a>,
        <a href="https://github.com/request/request">Request</a>,
        <a href="https://www.chaijs.com/">Chai</a>, and
        <a href="https://helmetjs.github.io/">Helmet</a>. The front end API
        tests on the home page also use
        <a href="https://getbootstrap.com/">Bootstrap</a>,
        <a href="https://jquery.com/">jQuery</a>, and
        <a href="https://highlightjs.org/">highlight.js</a>.
      </p>

      <p>
        You can read the functional tests I wrote on
        <a
          href="https://github.com/tywmick/stockchecker/tree/glitch/tests/2_functional-tests.js"
          >GitHub</a
        >
        or
        <a
          href="https://glitch.com/edit/#!/ty-stockchecker?path=tests/2_functional-tests.js"
          >Glitch</a
        >. To run the tests yourself, create a MongoDB database, fork/remix this
        project, create a <code>.env</code> file with
        <code>DB="{your MongoDB connection string}"</code> and
        <code>NODE_ENV="test"</code>, start the server, and look at the server
        console logs.
      </p>

      <p>This project fulfills the following user stories:</p>

      <ol>
        <li>
          Set the content security policies to only allow loading of scripts and
          css from your server.
        </li>
        <li>
          I can <strong>GET</strong> <code>/api/stock-prices</code> with form
          data containing a Nasdaq <code>stock</code> ticker and recieve back an
          object <code>stockData</code>.
        </li>
        <li>
          In <code>stockData</code>, I can see the <code>stock</code> (string,
          the ticker), <code>price</code> (decimal in string format), and
          <code>likes</code> (int).
        </li>
        <li>
          I can also pass along field <code>like</code> as
          <code>true</code> (boolean) to have my like added to the stock(s).
          Only 1 like per IP should be accepted.
        </li>
        <li>
          If I pass along 2 stocks, the return object will be an array with both
          stocks' info, but instead of <code>likes</code>, it will display
          <code>rel_likes</code> (the difference between the likes on both) on
          both.
        </li>
        <li>
          A good way to receive current price is the following external API
          (replacing 'GOOG' with your stock):
          <code>https://finance.google.com/finance/info?q=NASDAQ%3aGOOG</code>
        </li>

        <li>All 5 functional tests are complete and passing.</li>
      </ol>
    </div>

    <!-- prettier-ignore -->
    <span>
      <!-- jQuery -->
      <script src="/vendor/jquery/dist/jquery.min.js"></script>
      <!-- Bootstrap -->
      <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>      
      <!-- highlight.js -->
      <script src="/public/highlight.pack.js"></script>
    </span>

    <!-- Page scripts -->
    <script src="/public/client.js"></script>
  </body>
</html>
